// Button base
$button-padding: 8px 16px;
$button-border-radius: 4px;
$button-font-size: 16px;
$button-font-weight: 600;
$button-line-height: 1.5;
$button-transition: all 0.3s ease;



// Primary button
$primary-button-background-color: #50b83c;
$primary-button-color: #fff;
$primary-button-hover-background-color: #57c841;

// Normal button
$normal-button-background-color: #fff;
$normal-button-color: #333;
$normal-button-color-hover: #50b83c;
$normal-button-border-color: #E6E6E6;
$normal-button-border-color-hover: #50b83c;