.base-btn{
    display: inline-block;
    padding: $button-padding;
    border-radius: $button-border-radius;
    font-size: $button-font-size;
    font-weight: $button-font-weight;
    line-height: $button-line-height;
    transition: $button-transition;
    cursor: pointer;
    user-select: none;
    border: none;

    &.round{
        border-radius: 99999px;
    }

    &.primary{
        background-color:  $primary-button-background-color;
        color: $primary-button-color;
        &:hover{
            background-color: $primary-button-hover-background-color;
        }
    }

    &.normal{
        background-color: $normal-button-background-color;
        color: $normal-button-color;
        border: 1px solid $normal-button-border-color;
        &:hover{
            color:    $normal-button-color-hover;
            border-color: $normal-button-border-color-hover;
        }
    }
}